@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

html,
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', 'Noto Sans SC', '微軟正黑體', sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #F5F5F5 !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.btn {
    color: #fff !important;
}

b,
strong {
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 透明黑色背景 */
    z-index: 9999;
}

.modal-dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 15px;
}

.modal-title {
    margin: 0;
}

#bannerCarousel {
    z-index: 1;
}

table {
    table-layout: fixed;
    width: 100%;
    /* 固定寬度 */
    td:first-child,
    th:first-child {
        position: sticky;
        left: 0;
        /* 首行永遠固定於左 */
        z-index: 1;
        width: 180px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        /* 列首永遠固定於上 */
    }
}





header {
    z-index: 10;

    &.navbar {
        height: 152px;

        @media(max-width: 991px) {
            height: 80px;
        }

        .navbar-toggler-icon {
            width: 1.5em;
            height: 1.5em;
            filter: invert(21%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(98%) contrast(92%);
        }

        .collapsed{
            .navbar-toggler-icon {
                transform: rotate(0deg);
            }
        }


        .navbar-toggler {
            border: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .container {
            height: auto;

        }

        a.navbar-brand {
            position: absolute;
            height: 300px;
            width: 300px;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, #BE1E2D, #840D19);

            img {
                width: 160px;
                object-fit: contain;
                padding: 10px 0;
            }

            @media (max-width: 1400px) {
                height: 200px;
                width: 200px;
                margin-top: 40px;
            }

            @media (max-width: 991px) {
                position: absolute;
                height: 140px;
                width: 140px;
                margin-top: 0px;
                top: 0;
                display: flex;
                justify-content: center;
                background: linear-gradient(to bottom, #BE1E2D, #840D19);

                img {
                    width: 160px;
                    object-fit: contain;
                    padding: 10px 0;
                }
            }
        }

        .navbar-collapse {
            font-size: 28px;
            color: #000;
            transition: all 0.3s ease;
            flex-direction: row-reverse;

            @media(max-width: 991px){

                box-shadow: 0px 10px 10px #666;
                background-color: #fff;
                z-index: 99;
                transform: translateX(100vw);
                opacity: 1;
                position: fixed;
                top: 0px;
                z-index: 99;
                width: 95%;
                left: 0%;
                font-size: 16px;
                height: 100vh !important;
                &.show {
                    transform: translateX(5vw);
                }

                .btn-close{
                    margin-top: 30px;
                    margin-left: 82vw;
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: #000;
                    outline: none;
                }

                .navbar-nav {
                    .nav-item {
                        
                        .nav-link {
                            padding: 5px 10px !important;
                            transition: all 0.2s ease;
                            border-right: none !important;
                            font-size: 20px !important;
                            color: #000;
                            border-bottom: 1px solid #999 !important;
                            margin: 0 20px;
                            
                        }

                        &:hover:not(:last-child) {
                            border-bottom: 5px solid transparent !important;
                        }
                    }
                }
            }

            .navbar-nav {
                &.eng {
                    @media (min-width: 991px) {
                        font-size: 10pt;

                        .nav-item.ask_price {
                            font-size: 10pt;
                            width: 115px !important;
                        }
                    }
                }

                @media (max-width: 1440px) and (min-width: 991px) {
                    &.eng {
                        .nav-item {
                            .nav-link {
                                height: 40px;
                            }
                        }
                    }
                }

                .nav-item {
                    border-bottom: 5px solid transparent;
                    transition: border-bottom 0.2s ease;
                    padding-bottom: 5px;

                    .nav-link {
                        border-right: 1.5px solid #000;
                        padding: 0px 20px;
                        transition: color 0.2s ease;
                        font-size: 28px;
                        line-height: 40px;

                    }

                    &:hover:not(:last-child) {
                        border-bottom: 5px solid #BE1E2D;
                    }

                }

                .nav-item:nth-child(n+5) .nav-link,
                .nav-item:last-child .nav-link {
                    border-right: none;
                }
            }

            @media (max-width: 1400px) {
                font-size: 23px;
            }
        }

        .language_switch {

            .dropdown-toggle {
                border: 2px solid #666;
                border-radius: 10px;
                font-size: 13pt;
                line-height: 25px;
                text-decoration: none;
                padding: 5px 10px;
            }

            @media (max-width: 992px) {
                border: none;
                font-size: 16pt;
                line-height: 16px;
                padding: 5px;
                margin: 10px 5px;

                .dropdown-menu {
                    background-color: #ddd;
                }
            }

            .material-icons {
                font-size: 18pt;
                vertical-align: middle;
                margin-top: -5px;
                color: #3B4046;

                @media(max-width: 991px) {
                    color: #696969;
                    margin-left: 5px;
                }
            }

            .lang_switch_text {
                color: #333;
                margin-left: 5px;

                @media (max-width: 991px) {
                    display: inline-block;
                }
            }

            div::after {
                display: none;
            }

            .dropdown-menu {
                margin-left: -8px;
                min-width: 118px !important;
                border: 1px solid #333;
                color: #696969;

                .dropdown-item:hover {
                    background-color: #BE1E2D;
                    color: #fff;
                }

                li {
                    border-top: 1px solid #696969;
                    text-align: center;
                    color: #696969;
                    padding: 10px 0;
                    margin: 0 10px;

                    a {
                        padding: 0;
                    }

                    a:active {
                        background-color: #fff;
                        color: #696969;
                    }


                }

                li:first-child {
                    border-top: none;

                    .material-icons {
                        font-size: 13pt;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

footer {
    background: linear-gradient(to bottom, #BE1E2D, #840D19);
    padding: 20px 0 0 0;
    height: 420px;
    color: #fff;
    overflow: hidden;

    a{
        color: #fff;
    }

    &.footer-mobile{
        background-color: rgb(175 15 31); /* 填充背景顏色 */
        background-image: url("/assets/img/footer_zh.jpg");
        background-blend-mode: lighten !important;
        
        &.eng{
            background-color: rgb(175 15 31); /* 填充背景顏色 */
            background-image: url("/assets/img/footer_eng.jpg");

            @media (max-width: 991px) {
                background-size: contain;
            }
    
            @media (max-width: 576px) {
                background-size: cover;
            }

            background-size: cover;
            background-blend-mode: lighten !important;
            background-position: center;
    
            background-position: top center;
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 180px;
        }

        @media (max-width: 991px) {
            background-size: contain;
        }

        @media (max-width: 576px) {
            background-size: cover;
        }



        

        background-size: cover;
        background-blend-mode: overlay;
        background-position: center;

        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 180px;

        .company_info{
            max-width: 100%;
            p{
                padding: 0 50px;
            }
        }

        .contact{
            p{
                width: 250px;
                margin: 0 auto;
            }
        }
    }

    img.logo {
        width: 85%;
        max-width: 300px;
        margin: 0 0 20px 0;
    }

    #footer-point {
        margin-top: -280px;
        height: 420px;

        .left-point {
            position: relative;
            bottom: -300px;
            left: 0px;
        }

        .right-point {
            position: relative;
            right: 0px;
            float: right;
        }


        @media (max-width: 1200px) {
            display: none;
        }
    }

    .company_info {
        margin: 100px 0 0px 0;
        max-width: 450px;

        .h5 {
            font-weight: 700;
        }

        h3 {
            font-size: 32px;
        }

        .h6 {
            text-transform: uppercase;
            color: #666;
            font-size: 12.5px;
            font-weight: 600;
        }

        @media (max-width: 992px) {
            margin-top: 10px;

            h3 {
                font-size: 13px;
                width: 100%;
                text-align: left;
                padding-left: 50px;
                float: left;
            }

            p.bottom_company_info {
                font-size: 13px;
                width: 100%;
                text-align: center;
            }

            img {
                margin: 0;
                float: left;
                height: 30px;
                width: auto;
            }
        }
    }

    .contact {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2em;

        p {
            border-left: 2px solid #fff;
            margin-bottom: -10px;
            padding-left: 20px;
            line-height: 30px;
            font-size: 16pt;
        }

        .material-icons {
            font-size: 14px;
            margin-right: 5px;
        }
    }

    .slogan {
        margin: 130px 0 0 0;
        padding-left: 0px;

        h4 {
            font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;
            font-weight: 700;
            font-size: 24pt;

            text-transform: uppercase;

            span {
                color: #F9BA48;
                font-weight: 700;
            }
        }

        span.copyright {
            transform: translateY(-10px);
            font-size: 18px;
            color: #fff;
        }

        @media (max-width: 992px) {
            margin-top: 10px;

            h4 {
                font-size: 14px;
                text-align: right;
            }
        }

    }

}

main {

    .pill_button {
        background-color: #fff;
        border-radius: 50px;
        border: 2px solid #ccc;
        text-decoration: none;
        padding: 5px 20px;
        color: #696969;

        &a {
            color: #696969;
            font-size: 18px;
            font-weight: 300;
            padding: 10px 20px;
        }

        &.active {
            background-color: #BE1E2D;
            color: #fff !important;
            border: 2px solid #BE1E2D;
        }

        @media(min-width: 991px) {
            &:hover {
                background-color: #BE1E2D;
                color: #fff !important;
                animation: fadein 0.5s;
                border: 2px solid #BE1E2D;
            }

            @keyframes fadein {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }
    }

    &#index {
        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
        }

        .banner-content {
            width: 100%;
            height: 567px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            @media (max-width: 768px) {
                background-position: right -140px center;
            }

            .container {
                padding: 200px 0 0 0;

                h1 {
                    font-size: 38pt;
                    font-weight: 800;
                    width: 60%;
                    font-stretch: condensed;
                }

                p {
                    width: 50%;
                    font-size: 15pt;
                }
            }

            @media (max-width: 991px) {

                height: 226px;


                .container {
                    padding: 80px 0 0 20px;

                    h1 {
                        width: 50%;
                        font-size: 32px;
                    }

                }
            }
        }

        #intro {
            @media (max-width: 991px) {
                padding: 0 30px;
            }

            .badge {
                color: #696969;
                opacity: 0;
                margin-top: 100px;
                text-align: left;

                .heading {
                    border-left: 10px solid #BE1E2D;
                    padding-left: 10px;

                    h3 {
                        font-size: 32px;
                        font-weight: 600;
                        color: #393434;
                    }

                    span {
                        font-size: 15pt;
                        color: #393434;
                        font-weight: 400;
                    }

                    @media (max-width: 991px) {

                        span {
                            font-size: 10pt;
                        }
                    }
                }

                p {
                    word-break: break-word;
                    white-space: normal;
                    overflow-wrap: break-word;
                    font-size: 18px;
                    line-height: 34px;
                    color: #505050;
                }

                .about {
                    word-break: break-word;
                    white-space: normal;
                    overflow-wrap: break-word;
                    font-size: 18px;
                    line-height: 34px;
                    color: #505050;
                    margin: 100px 0;
                }

                img {
                    width: 100%;
                    // max-width: 200px;
                    margin: 20px 0;
                }

                @media screen and (max-width: 992px) {
                    margin-top: 0px;
                    opacity: 1;
                }
            }

            @media screen and (min-width: 992px) {
                &.scrolled .badge {

                    &:nth-child(1) {
                        animation: fadein 0.5s;
                        animation-fill-mode: forwards;
                    }

                    &:nth-child(2) {
                        animation: fadein 1s;
                        animation-fill-mode: forwards;
                    }

                    &:nth-child(3) {
                        animation: fadein 1.5s;
                        animation-fill-mode: forwards;
                    }

                    &:nth-child(4) {
                        animation: fadein 2s;
                        animation-fill-mode: forwards;
                    }
                }
            }

        }

        @keyframes fadein {
            from {
                opacity: 0;
                margin-top: 200px;
            }

            to {
                opacity: 1;
                margin-top: 0px;
            }

        }

        #company_info {
            max-width: 100%;
            overflow: hidden;

            #company_pic {
                height: 560px;
                margin-top: -50px;
                z-index: 1;
                text-align: right;

                img {
                    width: 100%;
                    margin: 130px 30px 0 0;
                }

                @media (max-width: 768px) {
                    background-image: none;
                    height: auto;
                    padding: 0;

                    img {
                        height: auto;
                        width: 100%;
                        margin: 80px 0px 0 0;
                    }
                }

            }

            #company_intro {
                margin: 80px 0;
                max-width: 660px;


                h2 {
                    font-size: 36pt;
                    color: #BE1E2D;
                    margin: 0 0 10px 0;
                    font-weight: 200;
                }

                p {
                    line-height: 32px;
                    font-size: 20px;
                    font-weight: 400;
                    color: #505050;
                }

                @media (max-width: 1200px) {
                    margin: 50px 0 100px 0;
                }

                @media (max-width: 991px) {
                    padding: 0 20px;
                    margin: 30px auto;
                }
            }

            #company_info_right_shape {
                position: absolute;
                height: 900px;
                width: 50%;
                right: -200px;
                top: 850px;
                opacity: 0.7;
                z-index: 0;
                background-image: url('../assets/img/rubber_bg.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right bottom;
            }

            @media (max-width: 991px) {
                #company_info_right_shape {
                    display: none;
                }
            }
        }

        #csr_red {
            position: relative;
            width: 100%;
            left: 0;
            padding: 70px 0;
            background-color: #EAEAEA;

            .container {
                background: linear-gradient(to bottom, #BE1E2D, #840D19);
                color: #fff;
                padding: 0;

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    object-position: center right;
                }

                a {
                    color: #fff;
                }
            }

            h3{
                font-size: 34px;
                font-weight: 600;
                margin-top: 50px;
                @media (max-width: 1280px) {
                    margin-top: 20px;
                }
            }

            h4{
                font-size: 32px;
                font-weight: 600;
                margin-top: 30px;
                @media (max-width: 1280px) {
                    margin-top: 20px;
                    font-size: 28px;
                }
            }

            p {
                font-size: 20px;
                line-height: 32px;
                span small{
                    line-height: 25px;
                    display: inline-block;
                }
            }

            a {
                font-size: 22px;
                text-decoration: underline !important;
            }


        }


        #iso_quality {
            padding: 50px 0;

            img {
                width: 100%;
            }

            .container {
                z-index: 1;
                position: relative;
            }
        }
    }


    &#company {

        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            z-index: 0;
            background-color: #fff;
            background-size: auto 100%;
            background-position: center center;
            height: 435px;
            background-repeat: no-repeat;

            @media (max-width: 1280px) {
                height: 350px;
            }

            @media (max-width: 991px) {
                height: 150px;
                
            }

            @media (max-width: 576px) {
                background-position: right -90px center;
            }

        }

        #company_intro {


            p {
                font-size: 20px;
                color: #505050;
                line-height: 36px;
                font-weight: 400;
                margin: 25px 0;
            }

            img {
                width: 100%;
            }
        }

        #badge_area {
            margin: 30px auto;

            .badge {
                div.outline {

                    border: 1px solid #333;
                    border-radius: 25px;
                    background-color: #fff;
                    text-align: center;
                    display: block;
                    color: #393434;
                    font-size: 25px;
                    font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;

                    @media (max-width: 991px) {
                        border: 1px solid #ccc;
                        height: 150px;
                    }

                    img {
                        max-width: 187px;
                        width: 100%;
                        margin: 20px 0;

                        @media (max-width: 991px) {
                            max-width: 80px;
                            margin: 10px 0;
                        }
                    }

                    h4 {
                        font-weight: 600;
                        margin: 20px 0;

                        @media (max-width: 991px) {
                            font-size: 14px;
                            margin: 5px 0 10px 0;
                            text-align: center;
                            width: 100%;
                            word-break: break-all;
                            word-wrap: break-word;
                        }
                    }

                    @media (max-width: 991px) {
                        margin: 0 !important;
                        border-radius: 15px;
                    }
                }
            }
        }

        .text-section {
            margin: 20px auto;

            h4 {
                border-left: 10px solid #BE1E2D;
                font-size: 32px;
                padding-left: 20px;
                font-weight: 600;
                color: #3B4046;
            }

            p {
                padding-left: 1.3em;
                font-size: 20px;
                line-height: 36px;
            }
        }

        #company_center_image {
            height: 400px;
            background-image: url('/assets/img/company_center_image.png');
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-color: #3B4046;
            background-position: center center;
            margin-top: 50px;
        }

        .company_card {
            padding: 0 20px;

            .card {
                border: 1px solid #333;
                border-radius: 25px;
                background-color: #fff;
                text-align: left;
                color: #3B4046;
                margin: 80px auto;
                padding: 50px 30px 50px 30px;

                @media (max-width: 991px) {
                    padding: 10px 10px 20px 10px;
                    margin: 50px auto;
                }

                h4 {
                    font-size: 24pt;
                    font-weight: 600;
                    line-height: 50px;
                    margin: 10px 0 10px 0;


                    @media (max-width: 991px) {
                        font-size: 22px;
                    }

                    img {
                        margin-top: -10px;
                        padding-right: 20px;

                        @media (max-width: 991px) {
                            scale: 0.6;
                            padding-right: 0px;
                        }
                    }
                }

                p {
                    font-size: 20px;
                    line-height: 32px;
                    padding-left: 3.2em;

                    @media (max-width: 991px) {
                        padding: 0;
                    }
                }

                table thead.table-danger {
                    --bs-table-bg: #BE1E2D;
                    --bs-table-color: #fff;
                }
            }
        }


        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 0.3s;
        }

        .fade-enter-from,
        .fade-leave-to {
            opacity: 0;
        }

    }

    &#material {

        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            z-index: 0;
            background-color: #fff;
            background-size: auto 100%;
            background-position: center center;
            height: 435px;
            background-repeat: no-repeat;

            @media (max-width: 1280px) {
                height: 350px;
            }

            @media (max-width: 991px) {
                height: 150px;
                
            }

            @media (max-width: 576px) {
                background-position: right -90px center;
            }

        }


        #badge_area {
            margin: 30px auto;

            .badge {
                div.outline {

                    border: 1px solid #333;
                    border-radius: 25px;
                    background-color: #fff;
                    text-align: center;
                    display: block;
                    color: #393434;
                    font-size: 25px;
                    font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;

                    @media (max-width: 991px) {
                        border: 1px solid #ccc;
                    }

                    img {
                        max-width: 187px;
                        width: 100%;
                        margin: 20px 0;

                        @media (max-width: 991px) {
                            max-width: 100%;
                            margin: 10px 0 0 0;
                        }
                    }

                    h4 {
                        font-weight: 600;
                        margin: 20px 0;
                        font-size: 32px;

                        @media (max-width: 991px) {
                            font-size: 20px;
                            font-weight: 900;
                            margin: 0 0 10px 0;
                            text-align: center;
                            width: 100%;
                            word-break: break-all;
                            word-wrap: break-word;
                        }
                    }

                    h5{
                        font-weight: 600;
                        font-size: 24px;
                    }

                    @media (max-width: 991px) {
                        margin: 0 !important;
                        border-radius: 15px;
                    }
                }
            }
        }

        .text-section {
            margin: 20px auto;

            h4 {
                border-left: 10px solid #BE1E2D;
                font-size: 32px;
                padding-left: 15px;
                font-weight: 600;
                color: #3B4046;
            }

            h3 {
                font-size: 28px;
                line-height: 40px;
                font-weight: 600;
                color: #3B4046;

                @media (max-width: 1024px) {
                    font-size: 16pt;
                    line-height: 32px;
                    font-weight: 500;
                    padding: 0 0px;

                }

            }

            p {
                padding-left: 1em;
                font-size: 20px;
                line-height: 36px;

                @media (max-width: 1024px) {
                    padding-left: 0;
                }
            }

            ul {
                li {
                    margin-left: 1em;
                    font-size: 20px;
                    line-height: 36px;
                    list-style: disc;

                    @media (max-width: 1024px) {
                        margin-left: 0;
                        padding: 0;
                    }
                }

            }

            img {
                width: 100%;
            }

            #fkm_section {
                ul {
                    margin-top: 0.5em;
                    padding-left: 1em;

                    li {
                        font-weight: normal;
                        margin-bottom: 0.5em;
                        list-style: none;
                        position: relative;
                        padding-left: 1em;

                        &:before {
                            content: "．";
                            position: absolute;
                            left: -0.5em;
                        }
                    }
                }
            }


        }

        .application {
            img {
                width: 90%;
                height: 450px;
                object-fit: cover;
                margin: 0 auto;

                @media (max-width: 991px) {
                    width: 100%;
                    height: 200px;
                }
            }

            p {
                padding-left: 0;
                line-height: 24px;
                font-weight: 600;

                @media (max-width: 1024px) {
                    font-size: 18px;
                }
            }
        }

        .company_card {
            .card {
                border: 1px solid #333;
                border-radius: 25px;
                background-color: #fff;
                text-align: left;
                color: #393434;

                margin: 80px auto;
                padding: 0px 30px 50px 30px;

                h4 {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 50px;
                    margin: 50px 0 20px 0;

                    img {
                        margin-top: -10px;
                        padding-right: 20px;
                    }
                }

                p {
                    font-size: 20px;
                    line-height: 36px;
                    font-weight: 500;
                }

                table thead.table-danger {
                    --bs-table-bg: #BE1E2D;
                    --bs-table-color: #fff;
                }
            }
        }


        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 0.3s;
        }

        .fade-enter-from,
        .fade-leave-to {
            opacity: 0;
        }

    }

    &#lab {

        #lab_intro {

            p {
                font-size: 20px;
                color: #505050;
                line-height: 36px;
                font-weight: 400;
                margin: 25px 0;
            }

            img {
                width: 100%;
            }
        }

        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            z-index: 0;
            background-color: #fff;
            background-size: auto 100%;
            background-position: center center;
            height: 435px;
            background-repeat: no-repeat;

            @media (max-width: 1280px) {
                height: 350px;
            }

            @media (max-width: 991px) {
                height: 150px;
                
            }

            @media (max-width: 576px) {
                background-position: right -90px center;
            }

        }


        #badge_area {
            margin: 30px auto;

            .badge {
                div.outline {

                    border: 1px solid #333;
                    border-radius: 25px;
                    background-color: #fff;
                    text-align: center;
                    display: block;
                    color: #393434;
                    font-size: 30px;
                    font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;

                    img {
                        max-width: 280px;
                        width: 100%;
                        margin: 20px 0 0 0;
                    }

                    h4 {
                        font-weight: 600;
                        margin: 20px 0;

                    }

                    @media (max-width: 991px) {
                        margin: 0 !important;
                        border-radius: 15px;
                    }
                }
            }
        }

        .top_badge {
            border: 1px solid #adadad;
            border-radius: 25px;
            background-color: #fff;
            padding: 30px 25px 5px 25px;
            margin: 10px auto;

            img {
                height: 418px;
                object-fit: cover;
                object-position: center 75%;

                &.top_image {
                    height: 450px;
                }

                @media (max-width: 1200px) {
                    height: 300px;

                    &.top_image {
                        height: 350px;
                    }
                }

                @media (max-width: 991px) {
                    height: 200px;

                    &.top_image {
                        height: 250px;
                    }
                }
            }

            h4 {
                margin: 10px 0 10px 0;

                @media (max-width: 991px) {
                    font-size: 18px;
                    margin: 5px 0 0 0;
                }
            }
        }

        .text-decoration {
            text-decoration: none;
            text-align: center;
        }

        .text-section {
            margin: 20px auto;

            h4 {
                border-left: 10px solid #BE1E2D;
                font-size: 32px;
                padding-left: 20px;
                font-weight: 600;
                color: #3B4046;
            }

            p {
                padding-left: 1em;
                font-size: 20px;
                line-height: 36px;
            }

            img {
                width: 100%;
            }

            ul {
                li {
                    margin-left: 2em;
                    font-size: 20px;
                    line-height: 32px;
                    list-style-type: disc;

                    @media (max-width: 1024px) {
                        margin: 0;
                    }
                }
            }

        }



    }

    &#service {

        #service_intro {

            p {
                font-size: 20px;
                color: #505050;
                line-height: 36px;
                margin: 25px 0;
            }

            img {
                width: 100%;
            }
        }

        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            z-index: 0;
            background-color: #fff;
            background-size: auto 100%;
            background-position: center center;
            height: 435px;
            background-repeat: no-repeat;

            @media (max-width: 1280px) {
                height: 350px;
            }

            @media (max-width: 991px) {
                height: 150px;
                
            }
            @media (max-width: 576px) {
                background-position: right -90px center;
            }

        }


        .text-section {
            margin: 20px auto;

            h4 {
                border-left: 10px solid #BE1E2D;
                font-size: 32px;
                padding-left: 20px;
                font-weight: 600;
                color: #3B4046;
            }

            p {
                padding-left: 1em;
                font-size: 20px;
                line-height: 36px;

                &.page_intro {
                    margin-bottom: 200px;
                }
            }

            img {
                width: 100%;

                &.worker {
                    float: right;
                    margin-left: 20px;
                    width: 40%;
                    margin-top: 0px;

                    @media (max-width: 1366px) {
                        margin-top: -100px;
                    }

                    @media (max-width: 1024px) {
                        margin-top: -0px;
                    }

                    @media (max-width: 991px) {
                        width: 100%;
                        display: block;
                        margin-top: 0px;
                    }
                }
            }

            ul {
                li {
                    margin-left: 2em;
                    font-size: 28px;
                    line-height: 55px;
                    list-style-type: disc;
                }
            }

        }



    }

    &#product {

        .banner {
            margin: 0 auto;
            position: relative;
            max-width: 100%;
            z-index: 0;
            background-color: #fff;
            background-size: auto 100%;
            background-position: center center;
            height: 435px;
            background-repeat: no-repeat;

            @media (max-width: 1280px) {
                height: 350px;
            }

            @media (max-width: 991px) {
                height: 150px;
                
            }
            @media (max-width: 576px) {
                background-position: right -90px center;
            }

        }

        #product_intro {


            p {
                font-size: 30px;
                color: #696969;
                line-height: 60px;
                font-weight: 600;
            }

            img {
                width: 100%;
            }
        }

        #badge_area {
            margin: 30px auto;

            .badge {
                div.outline {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 25px;
                    background-color: #fff;
                    text-align: center;
                    display: block;
                    color: #393434;
                    font-size: 25px;
                    font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;


                    img {
                        height: 220px;
                        object-fit: cover;
                        width: 100%;
                        margin: 20px 0;

                        @media (max-width: 991px) {
                            height: 50px;
                            width: auto;
                            float: right;
                            margin: 5px 15px 0 0;
                        }
                    }

                    h4 {
                        font-size: 28px;
                        font-weight: 800;
                        margin: 20px 0;

                        @media (max-width: 1366px) {
                            font-size: 24px;
                        }

                        @media (max-width: 991px) {
                            font-size: 15px;
                            text-align: left;
                            margin-left: 15px;
                            line-height: 20px;
                        }
                    }

                    h5{
                        font-weight: 600;
                        font-size: 24px;
                    }

                    @media (max-width: 991px) {
                        margin: 0 !important;
                        border-radius: 5px;
                    }
                }
            }
        }

        #ffkm_section,
        #fkm_section {
            margin: 30px auto;

            .badge {
                padding: 0 20px;

                div.outline {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 25px;
                    background-color: #fff;
                    text-align: center;
                    display: block;


                    img {
                        object-fit: cover;
                        width: 100%;
                        padding: 20px;
                    }

                }
            }

        }

        #fkm_table_hint {
            text-align: center;
            width: 100%;
            background-color: #E5E5E5;

            span {
                font-size: 15pt;
                margin: 0 20px;

                @media (max-width: 991px) {
                    margin: 0 auto;
                    padding: 0 5px;
                    font-size: 12pt;
                }
            }

            p {
                line-height: 43px;

                @media (max-width: 991px) {
                    line-height: 30px;
                }
            }
        }

        .text-section {
            margin: 20px auto;

            h4 {
                border-left: 10px solid #BE1E2D;
                font-size: 32px;
                padding-left: 15px;
                font-weight: 600;
                color: #3B4046;
            }

            p {
                padding-left: 1em;
                font-size: 20px;
                line-height: 36px;
            }
        }


        .company_card {
            padding: 0 30px;
            .card {
                border: 1px solid #ccc;
                border-radius: 25px;
                background-color: #fff;
                text-align: left;
                color: #393434;
                margin: 15px auto;
                padding: 0px 20px 20px 20px;

                h4 {
                    font-size: 27pt;
                    font-weight: 600;
                    line-height: 50px;
                    margin: 50px 0 20px 0;

                    img {
                        margin-top: -10px;
                        padding-right: 20px;
                    }
                }

                p {
                    font-size: 20px;
                    line-height: 36px;
                }

                ol {
                    padding-left: 0;

                    li {
                        font-size: 20px;
                        line-height: 36px;
                    }
                }

                table {
                    text-align: center;
                }

                table thead.table-danger {
                    --bs-table-bg: #BE1E2D;
                    --bs-table-color: #fff;
                }
            }
        }

        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            table {
                min-width: 600px;
            }
        }

        table thead.table-danger {
            --bs-table-bg: #BE1E2D;
            --bs-table-color: #fff;
        }

    }

}