@import "./base.css";

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

html,
body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', 'Noto Sans SC', '微軟正黑體', sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #F5F5F5 !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.btn {
    color: #fff !important;
}

b,
strong {
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 透明黑色背景 */
    z-index: 9999;
}

.modal-dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 15px;
}

.modal-title {
    margin: 0;
}

#bannerCarousel {
    z-index: 1;
}

table {
    table-layout: fixed;
    width: 100%;
    /* 固定寬度 */
    td:first-child,
    th:first-child {
        position: sticky;
        left: 0;
        /* 首行永遠固定於左 */
        z-index: 1;
        width: 180px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        /* 列首永遠固定於上 */
    }
}

main{
    max-width: 1920px;
    #screen_25_1{

        background-image: url("/assets/img/S25-01-1.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1025px;
        z-index: 6;

        .screen_container{
            width: 56%;
            margin: 0 auto;
            padding-top: 22vh;

            .left_side{
                width: 25%;
                position: absolute;
                left: 8%;
                top: 0;
                text-align: right;
                padding-top: 10vh;
                img{
                    width: 100%;
                }
            }

            .banner{
                width: 50%;
                margin: 0 auto;
            }

            .right_side{
                width: 27%;
                position: absolute;
                right: 5%;
                top: 0;
                text-align: left;
                padding-top: 10vh;
                img{
                    width: 100%;
                }
            }
        }
    }

    #screen_25_2{

        background-image: url("/assets/img/S25-01-2.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1320px;
        margin-top: -110px;
        z-index: 5;

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    #screen_25_3{

        background-image: url("/assets/img/S25-01-3.webp");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 1827px;
        margin-top: -98px;
        z-index: 4;
        position: relative;

        .screen_container{
            width: 100%;
            margin: 0 auto;
            padding-top: 10vh;
            .banner{
                width: 100%;
                margin: 0 auto;
            }
        }
    }

}



header {
    z-index: 10;

    &.navbar {
        height: 152px;

        @media(max-width: 991px) {
            height: 80px;
        }

        .navbar-toggler-icon {
            width: 1.5em;
            height: 1.5em;
            filter: invert(21%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(98%) contrast(92%);
        }

        .collapsed{
            .navbar-toggler-icon {
                transform: rotate(0deg);
            }
        }


        .navbar-toggler {
            border: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .container {
            height: auto;

        }

        a.navbar-brand {
            position: absolute;
            height: 300px;
            width: 300px;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            background: linear-gradient(to bottom, #BE1E2D, #840D19);

            img {
                width: 160px;
                object-fit: contain;
                padding: 10px 0;
            }

            @media (max-width: 1400px) {
                height: 200px;
                width: 200px;
                margin-top: 40px;
            }

            @media (max-width: 991px) {
                position: absolute;
                height: 140px;
                width: 140px;
                margin-top: 0px;
                top: 0;
                display: flex;
                justify-content: center;
                background: linear-gradient(to bottom, #BE1E2D, #840D19);

                img {
                    width: 160px;
                    object-fit: contain;
                    padding: 10px 0;
                }
            }
        }

        .navbar-collapse {
            font-size: 28px;
            color: #000;
            transition: all 0.3s ease;
            flex-direction: row-reverse;

            @media(max-width: 991px){

                box-shadow: 0px 10px 10px #666;
                background-color: #fff;
                z-index: 99;
                transform: translateX(100vw);
                opacity: 1;
                position: fixed;
                top: 0px;
                z-index: 99;
                width: 95%;
                left: 0%;
                font-size: 16px;
                height: 100vh !important;
                &.show {
                    transform: translateX(5vw);
                }

                .btn-close{
                    margin-top: 30px;
                    margin-left: 82vw;
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: #000;
                    outline: none;
                }

                .navbar-nav {
                    .nav-item {
                        
                        .nav-link {
                            padding: 5px 10px !important;
                            transition: all 0.2s ease;
                            border-right: none !important;
                            font-size: 20px !important;
                            color: #000;
                            border-bottom: 1px solid #999 !important;
                            margin: 0 20px;
                            
                        }

                        &:hover:not(:last-child) {
                            border-bottom: 5px solid transparent !important;
                        }
                    }
                }
            }

            .navbar-nav {
                &.eng {
                    @media (min-width: 991px) {
                        font-size: 10pt;

                        .nav-item.ask_price {
                            font-size: 10pt;
                            width: 115px !important;
                        }
                    }
                }

                @media (max-width: 1440px) and (min-width: 991px) {
                    &.eng {
                        .nav-item {
                            .nav-link {
                                height: 40px;
                            }
                        }
                    }
                }

                .nav-item {
                    border-bottom: 5px solid transparent;
                    transition: border-bottom 0.2s ease;
                    padding-bottom: 5px;

                    .nav-link {
                        border-right: 1.5px solid #000;
                        padding: 0px 20px;
                        transition: color 0.2s ease;
                        font-size: 28px;
                        line-height: 40px;

                    }

                    &:hover:not(:last-child) {
                        border-bottom: 5px solid #BE1E2D;
                    }

                }

                .nav-item:nth-child(n+5) .nav-link,
                .nav-item:last-child .nav-link {
                    border-right: none;
                }
            }

            @media (max-width: 1400px) {
                font-size: 23px;
            }
        }

        .language_switch {

            .dropdown-toggle {
                border: 2px solid #666;
                border-radius: 10px;
                font-size: 13pt;
                line-height: 25px;
                text-decoration: none;
                padding: 5px 10px;
            }

            @media (max-width: 992px) {
                border: none;
                font-size: 16pt;
                line-height: 16px;
                padding: 5px;
                margin: 10px 5px;

                .dropdown-menu {
                    background-color: #ddd;
                }
            }

            .material-icons {
                font-size: 18pt;
                vertical-align: middle;
                margin-top: -5px;
                color: #3B4046;

                @media(max-width: 991px) {
                    color: #696969;
                    margin-left: 5px;
                }
            }

            .lang_switch_text {
                color: #333;
                margin-left: 5px;

                @media (max-width: 991px) {
                    display: inline-block;
                }
            }

            div::after {
                display: none;
            }

            .dropdown-menu {
                margin-left: -8px;
                min-width: 118px !important;
                border: 1px solid #333;
                color: #696969;

                .dropdown-item:hover {
                    background-color: #BE1E2D;
                    color: #fff;
                }

                li {
                    border-top: 1px solid #696969;
                    text-align: center;
                    color: #696969;
                    padding: 10px 0;
                    margin: 0 10px;

                    a {
                        padding: 0;
                    }

                    a:active {
                        background-color: #fff;
                        color: #696969;
                    }


                }

                li:first-child {
                    border-top: none;

                    .material-icons {
                        font-size: 13pt;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

footer {
    background: linear-gradient(to bottom, #BE1E2D, #840D19);
    padding: 20px 0 0 0;
    height: 420px;
    color: #fff;
    overflow: hidden;

    a{
        color: #fff;
    }

    &.footer-mobile{
        background-color: rgb(175 15 31); /* 填充背景顏色 */
        background-image: url("/assets/img/footer_zh.jpg");
        background-blend-mode: lighten !important;
        
        &.eng{
            background-color: rgb(175 15 31); /* 填充背景顏色 */
            background-image: url("/assets/img/footer_eng.jpg");

            @media (max-width: 991px) {
                background-size: contain;
            }
    
            @media (max-width: 576px) {
                background-size: cover;
            }

            background-size: cover;
            background-blend-mode: lighten !important;
            background-position: center;
    
            background-position: top center;
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 180px;
        }

        @media (max-width: 991px) {
            background-size: contain;
        }

        @media (max-width: 576px) {
            background-size: cover;
        }



        

        background-size: cover;
        background-blend-mode: overlay;
        background-position: center;

        background-position: top center;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 180px;

        .company_info{
            max-width: 100%;
            p{
                padding: 0 50px;
            }
        }

        .contact{
            p{
                width: 250px;
                margin: 0 auto;
            }
        }
    }

    img.logo {
        width: 85%;
        max-width: 300px;
        margin: 0 0 20px 0;
    }

    #footer-point {
        margin-top: -280px;
        height: 420px;

        .left-point {
            position: relative;
            bottom: -300px;
            left: 0px;
        }

        .right-point {
            position: relative;
            right: 0px;
            float: right;
        }


        @media (max-width: 1200px) {
            display: none;
        }
    }

    .company_info {
        margin: 100px 0 0px 0;
        max-width: 450px;

        .h5 {
            font-weight: 700;
        }

        h3 {
            font-size: 32px;
        }

        .h6 {
            text-transform: uppercase;
            color: #666;
            font-size: 12.5px;
            font-weight: 600;
        }

        @media (max-width: 992px) {
            margin-top: 10px;

            h3 {
                font-size: 13px;
                width: 100%;
                text-align: left;
                padding-left: 50px;
                float: left;
            }

            p.bottom_company_info {
                font-size: 13px;
                width: 100%;
                text-align: center;
            }

            img {
                margin: 0;
                float: left;
                height: 30px;
                width: auto;
            }
        }
    }

    .contact {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2em;

        p {
            border-left: 2px solid #fff;
            margin-bottom: -10px;
            padding-left: 20px;
            line-height: 30px;
            font-size: 16pt;
        }

        .material-icons {
            font-size: 14px;
            margin-right: 5px;
        }
    }

    .slogan {
        margin: 130px 0 0 0;
        padding-left: 0px;

        h4 {
            font-family: "Myriad Pro Bold", "Myriad Pro", sans-serif;
            font-weight: 700;
            font-size: 24pt;

            text-transform: uppercase;

            span {
                color: #F9BA48;
                font-weight: 700;
            }
        }

        span.copyright {
            transform: translateY(-10px);
            font-size: 18px;
            color: #fff;
        }

        @media (max-width: 992px) {
            margin-top: 10px;

            h4 {
                font-size: 14px;
                text-align: right;
            }
        }

    }

}

